@import "mocha.css";

* {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  color: @text;
  background: transparent;
}

#workspaces {
  background-color: @base;
  border-radius: 1rem;
  margin: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

#workspaces button {
  color: @lavender;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#clock {
  color: @sky;
  background-color: @base;
  margin: 5px 0;
  padding: 0.5rem 10px;
  border-radius: 1rem;
}

#tray,
#cpu,
#memory,
#bluetooth,
#pulseaudio,
#backlight,
#battery,
#network,
#custom-power {
  background-color: @base;
  padding: 0.5rem 10px;
  margin: 5px 0;
  border-radius: 1rem;
}

#cpu {
  color: @peach;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#memory {
  color: @mauve;
  border-radius: 0px 1rem 1rem 0px;
}

#bluetooth {
  color: @blue;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0;
}

#backlight {
  color: @yellow;
  border-radius: 0;
}

#battery {
  color: @green;
  border-radius: 0;
}

#battery.charging {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @red;
}

#network {
  border-radius: 0;
}

#custom-power {
  color: @red;
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
}
