@import "mocha.css";

* {
  font-family: CaskaydiaCove Nerd Font Propo;
  font-size: 12px;
  font-weight: bold;
}

#waybar {
  color: @text;
  background: transparent;
}

#custom-logo {
  background-color: @base;
  color: @sky;
  margin: 5px 0 5px 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 1rem 0 0 1rem;
}

#workspaces {
  background-color: @base;
  margin: 5px 0.5rem 5px 0;
  border-radius: 0 1rem 1rem 0;
}

#workspaces button {
  color: @lavender;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @sky;
  background-color: @surface2;
}

#workspaces button:hover {
  color: @sapphire;
}

#custom-window {
  font-size: 11px;
}

#clock,
#custom-recording,
#custom-updates,
#tray,
#cpu,
#memory,
#pulseaudio,
#backlight,
#battery,
#bluetooth,
#network,
#custom-power {
  background-color: @base;
  margin: 5px 0;
  padding: 0.5rem;
  border-radius: 1rem;
}

#clock {
  color: @sky;
  padding: 0.5rem 1rem;
}

#custom-recording {
  padding: 0.5rem 1rem;
}

#custom-recording.recording {
  color: @red;
}

#custom-updates {
  color: @teal;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

#tray {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

#cpu {
  color: @peach;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 1rem 0px 0px 1rem;
}

#memory {
  color: @mauve;
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0;
}

#backlight {
  color: @yellow;
  border-radius: 0;
}

#battery {
  color: @green;
  border-radius: 0;
}

#battery.charging {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @red;
}

#bluetooth {
  color: @blue;
  border-radius: 0;
}

#network {
  border-radius: 0;
}

#custom-power {
  color: @red;
  margin-right: 1rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 0px 1rem 1rem 0px;
}
